.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Fonts */
@font-face {
  font-family: Rubik-Bold;
  src: url(../src/Rubik/static/Rubik-Bold.ttf);
}

@font-face {
  font-family: Rubik-Regular;
  src: url(../src/Rubik/static/Rubik-Regular.ttf);
}

@font-face {
  font-family: Rubik-SemiBold;
  src: url(../src/Rubik/static/Rubik-SemiBold.ttf);
}

@font-face {
  font-family: Rubik-Medium;
  src: url(../src/Rubik/static/Rubik-Medium.ttf);
}
*{
  min-width: 0%;
}
.backgroundHome {
  background-image:
    linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
    url('../src/assets/landingbg.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  max-width: 100%;
}

.backgroundSayHello {
  background-image:
    linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
    url('../src/assets/SayHello.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  max-width: 100%;
}

.backgroundAdd2Nums {
  background-image:
    linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
    url('../src/assets/add2nums.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  max-width: 100%;
}

.backgroundAskingQuestiongs {
  background-image:
    linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
    url('../src/assets/askingquestions.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  max-width: 100%;
}

.backgroundGreaterThanLessThan {
  background-image:
    linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
    url('../src/assets/greaterthanorlessthan.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  max-width: 100%;
}

.backgroundMadLib {
  background-image:
    linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
    url('../src/assets/madlib.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  max-width: 100%;
}

.backgroundReverseItNumbers {
  background-image:
    linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
    url('../src/assets/ReverseIt\(Integers\).avif');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  max-width: 100%;
}
.backgroundReverseItString {
  background-image:
    linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
    url('../src/assets/ReverseIt\(String\).png');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  max-width: 100%;
}
.backgroundRestaurantPicker {
  background-image:
    linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
    url('../src/assets/restaurantpicker.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  max-width: 100%;
}
.backgroundMagic8Ball {
  background-image:
    linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
    url('../src/assets/Magic8ball.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  max-width: 100%;
}
.backgroundOddorEven {
  background-image:
    linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
    url('../src/assets/oddoreven.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  max-width: 100%;
}